<!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <!-- <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                    </ul> -->
                    Lifestyle Boutique in University City
                    <p class="copyright text-muted small">Copyright &copy; Cum Laude Inc 2015. All Rights Reserved</p>
                    <p class="copyright text-muted small">Created by <a href = 'https://www.linkedin.com/in/kobakhit' target = '_blank'>Koba Khit</a></p>
                    <br>
                </div>
                <div class='col-lg-2'><span>16 South 40th street<br>Philadelphia, PA 19104<br>(267)-908-3568<br><a href='mailto:info@cumladeinc.com'>info@cumladeinc.com</a></span></div>
            </div>
        </div>
    </footer>