---
layout: default
---

    <div class='container' style = 'padding-top:3%'>
        <!-- Post Content -->
        <div class='row'>
            <div style='font-size:17px;' class='post-content col-lg-8 col-lg-offset-2'>
                <h1>
                    {{page.title}}
                    <small>
                        by {{page.author}}
                        <small>| {{ page.date|date:"%b %d, %Y" }}</small>
                    </small> 
                </h1>
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_sharing_toolbox"></div>
            {{ content }}
            </div>
        </div>
    </div>

    <div class='container: body'><hr></div> 


   

